[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pe = "~=0.5.0"
gpep = {file = ".", editable = true}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
